# re-located layout directory
# (this avoids problems with buck2 file monitoring)
direnv_layout_dir="${XDG_CACHE_HOME:=$HOME/.cache}/direnv/layouts/$( echo -n "$PWD" | sha1sum | cut -d ' ' -f 1 )"

mapfile -d '' -t < <(git ls-files -z nix/ toolchains/nix/)

watch_file "${MAPFILE[@]}"

use flake .#buck2 --show-trace

# Private .envrc
source_env_if_exists .envrc.private
